body {
    
    background-image: url(two.png);
    
    
    background-position: center center;
    
    
    background-repeat: no-repeat;
    
   
    background-attachment: fixed;
 
    background-size: cover;
    

    background-color: #464646;
    }

    .two{
        margin-top: 300px;
    margin-left: 300px;
        }